.mainbody
{
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo_list_body
{
    border: 1px black solid;
    width: 500px;
    height: 750px;
    background: wheat;
    border-radius: 20px;
}

.MainTitle{
    display: flex;
    justify-content: center;
}

.todo_task_input_div
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.addbtn
{
    width: 50px;
    border-radius: 50px;
    height: 50px;
    margin: auto;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


.functionbuttons
{
    margin-right: 10px;
}
